.body {
  margin: 0;
    padding: 0;
  font-family: Lato, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.portfolio {
  width: 100%;
  height: 864px; 
  background-color: #2d303a;
  -webkit-box-shadow: 0 6px 0 0 rgba(50,55,70,1);
     -moz-box-shadow: 0 6px 0 0 rgba(50,55,70,1);
          box-shadow: 0 6px 0 0 rgba(50,55,70,1);
}
.portfolio__content {
  width: 940px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 40px;
}
.portfolio__caption {
  margin: 63px 0 21px;
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  letter-spacing: 0.01rem;
}
.portfolio__text {
  font-weight: 300;
  font-size: 18px;
  color: #767e9e;
  letter-spacing: -0.013rem;
  margin-bottom: 13px;
}
.filter {
  width: 310px;
  height: 22px;
  display: flex;
}
.filter__item {
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #767e9e;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  border: 1px solid #666d89;
  border-radius: 5px;
  transition: .3s;
}
.filter__item:first-child {
  letter-spacing: 0.04rem;
}
.filter__item:focus, .filter__item:hover {
  color: #dedede;
  border-color: #c5c5c5;
}
.portfolio__works {
  width: 100%;
  height: 601px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 19px;
  padding: 0;
  list-style-type: none;
}
.portfolio__item {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.portfolio__item:nth-child(4n+4) {
  margin-right: 0;
}
.portfolio__item:nth-child(n+9):nth-child(-n+12) {
  margin-bottom: 0;
}
.portfolio__item:nth-child(n+13) {
  display: none;
}
.portfolio__link {
  display: block;
  width: 100%;
  height: 100%;
}
.portfolio__image {
  display: block;
  width: 100%;
  height: 100%;
}
.portfolio__image:hover {
  transform: scale(1.1);
  transition: .3s;
}
.about-us {
  width: 100%;
  height: 728px;
  background-color: #f2f2f2;
  margin-top: 6px;
  -webkit-box-shadow: 0px 6px 0px 0px rgba(255,255,255,1);
     -moz-box-shadow: 0px 6px 0px 0px rgba(255,255,255,1);
          box-shadow: 0px 6px 0px 0px rgba(255,255,255,1);
}
.about-us__content {
  width: 940px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 40px;
}
.about-us__caption {
  margin: 62px 0 19px 1px;
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  letter-spacing: -0.01rem;
}
.about-us__text {
  font-weight: 300;
  font-size: 18px;
  color: #767e9e;
  text-align: justify;
  line-height: 29px;
  letter-spacing: -0.014rem;
  margin-bottom: 43px;
}
.about-us__members {
  display: flex;
  width: 100%;
  height: 443px;
}
.about-us__item {
  width: 300px;
}
.about-us__item:first-child {
  margin-right: 19px;
}
.about-us__item:nth-child(2) {
  margin-right: 21px;
}
.about-us__item__caption {
  margin: 12px 0 0;
  font-weight: 900;
  font-size: 18px;
  color: #666d89;
  white-space: nowrap;
  overflow: hidden;
}
.about-us__item__about {
  font-weight: normal;
  font-size: 12px;
  color: #767e9e;
  text-align: justify;
  margin: 8px 0 23px;
  line-height: 20px;
}
.about-us__item__caption-miles {
  letter-spacing: -0.01rem;
}
.about-us__item__about-adam {
  letter-spacing: -0.01rem;
}
.about-us__item__caption-scolora {
  letter-spacing: 0.007rem;
}
.socials {
  display: flex;
}
.socials__item {
  display: block;
  width: 33px;
  height: 33px;
  border: 1px solid #767e9e;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  margin-right: 7px;
}
.socials__item:hover {
  background-color: #d5d3d3;
  -webkit-box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
     -moz-box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
          box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
  transition: .2s;
}
.socials__item svg {
  fill: #666d89;
}
.socials__item:hover svg {
  fill: #4c526d;
}