html {
  scroll-behavior: smooth;
}
.body{
  min-width: 1020px;
  margin: 0;
  padding-top: 95px;
  font-family: Lato, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 89px;
  z-index: 11;
  background-color: #2d303a;
  -webkit-box-shadow: 0 6px 0 0 rgba(50,55,70,1);
     -moz-box-shadow: 0 6px 0 0 rgba(50,55,70,1);
          box-shadow: 0 6px 0 0 rgba(50,55,70,1);
}
.wrapper {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 140px;
  height: 100%;
}
.logo__name {
  margin-top: 32px;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
}
.logo__name::after {
  content: "*";
  position: relative;
  top: 0;
  left: 0;
  font-size: 24px;
  color: #f06c64;
}
.burger__icon-wrapper {
  display: none;
  position: absolute;
  top: 26px;
  left: 20px;
  z-index: 100;
  width: 25px;
  height: 20px;
}
.burger__icon {
  display: block;
  width: 100%;
  height: 2.4px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0;
  outline: none;
  cursor: pointer;
  z-index: 99;
  box-sizing: border-box;
}
.burger__icon::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 2.4px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  transition: transform .2s ease-in, top .2s linear .2s;
}
.burger__icon::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 2.4px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  transition: transform .2s ease-in, top .2s linear .2s;
}
.burger__icon-active {
  background-color: transparent;
}
.burger__icon-active::before {
  transform: rotate(45deg);
  top: 7.6px;
  transition: top .2s linear, transform .2s ease-in .2s;
}
.burger__icon-active::after {
  transform: rotate(-45deg);
  top: 7.6px;
  transition: top .2s linear, transform .2s ease-in .2s;
}
.burger {
  display: none;
}
.burger-active {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.burger__wrapper {
  width: 0;
  height: 100%;
  background: #2D303A;
  -webkit-box-shadow: 10px 0px 40px -12px rgba(0,0,0,1);
    -moz-box-shadow: 10px 0px 40px -12px rgba(0,0,0,1);
          box-shadow: 10px 0px 40px -12px rgba(0,0,0,1);
  transition: width .3s ease-out;
}
.burger__wrapper-active {
  width: 278px;
  transition: width .3s ease-out;
}
.burger__wrapper > .logo {
  display: none;
  width: 92px;
  height: 24px;
}
.burger__wrapper .logo .logo__name {
  margin: 0;
  padding: 24px 0 0;
}
.burger__wrapper .menu {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 8px;
  list-style: none;
  width: 205px;
  height: 260px;
  margin: 184px 71px 0;
}
.burger__wrapper .menu .menu__item:not(:first-child)::before {
  content: "";
}
.navigation {
  width: 380px;
  height: 100%;
}
.navigation .menu {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  list-style: none;
}
.menu__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 68px;
  color: #ffffff;
  text-transform: uppercase;
}
.menu__item:not(:first-child)::before {
  content: ".";
  position: relative;
  bottom: 3px;
  left: -13px;
  font-weight: 400;
  font-size: 19px;
  color: #494e62;
}
.menu__link-active {
  color: #f06c64;
  transition: all .3s;
}
.main {
  width: 100%;
  min-height: 100px;
}
.slider {
  width: 100%;
  height: 594px;
  background-color: #f06c64;
  -webkit-box-shadow: 0 6px 0 0 rgba(234,103,107,1);
     -moz-box-shadow: 0 6px 0 0 rgba(234,103,107,1);
          box-shadow: 0 6px 0 0 rgba(234,103,107,1);
}
.slider__content {
  position: relative;
}
.slide__iphone-vertical {
  position: absolute;
  top: 53px;
  left: 52px;
  width: 240px;
  height: 483px;
  z-index: 2;
}
.slide__iphone-horizontal {
  position: absolute;
  top: 174px;
  right: 51px;
  width: 484px;
  height: 240px;
  z-index: 2;
}
.slider__button {
  position: absolute;
  top: 281px;
  width: 16px;
  height: 27px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.4;
  z-index: 10;
}
.slider__button-prev {
  left: 42px;
  background-image: url(./assets/images/arrow.png);
}
.slider__button-next {
  right: 40px;
  background-image: url(./assets/images/arrow.png);
  -webkit-transform: scale(-1, 1);
     -moz-transform: scale(-1, 1);
       -o-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.slide {
  position: relative;
  margin: 0 auto;
  width: 900px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.slide__wrapper {
  display: flex;
  height: 100%;
  flex-shrink: 0;
  transition: all 0.5s;
}
.slide__item {
  position: relative;
  width: 900px;
  flex-basis: 900px;
  flex-shrink: 0;
  flex: 1;
}
.slide__item-vertical{
  position: absolute;
  top: 53px;
  left: 52px;
  width: 216px;
  height: 459px;
  z-index: 3;
}
.item-vertical__screenBlocker {
  position: absolute;
  top: 65px;
  left: 14px;
  width: 188px;
  height: 333px;
  z-index: 3;
  background: #000;
  opacity: 0;
}
.item-vertical__touchButton {
  position: absolute;
  bottom: 10px;
  left: 88px;
  width: 40px;
  height: 40px;
  z-index: 3;
}
.slide__item-horizontal{
  position: absolute;
  top: 173px;
  right: 77px;
  width: 458px;
  height: 216px;
  z-index: 3;
}
.item-horizontal__screenBlocker {
  position: absolute;
  top: 15px;
  left: 60px;
  width: 333px;
  height: 188px;
  z-index: 3;
  background: #000;
  opacity: 0;
}
.item-horizontal__touchButton {
  position: absolute;
  bottom: 88px;
  left: 10px;
  width: 40px;
  height: 40px;
  z-index: 3;
}
.slide__item-slide2{
  width: 100%;
  height: 100%;
}
.services {
  width: 100%;
  height: 500px;
  margin-top: 6px;
  background-color: #f2f2f2;
  -webkit-box-shadow: inset 0 -6px 0 0 rgba(255,255,255,1);
     -moz-box-shadow: inset 0 -6px 0 0 rgba(255,255,255,1);
          box-shadow: inset 0 -6px 0 0 rgba(255,255,255,1);
}
.services__caption {
  margin: 62px 0 17px;
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  letter-spacing: 0.002rem;
}
.services__text {
  height: 60px;
  overflow: hidden;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #666d89;
  letter-spacing: -0.013rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 44px;
}
.cards__item {
  position: relative;
  width: 310px;
  height: 100px;
  overflow: hidden;
}
.cards__item:nth-child(-n+3) {
  margin-bottom: 23px;
}
.cards__pen,
.cards__phone {
  position: absolute;
  top: 0;
  left: 1px;
}
.cards__lamp {
  position: absolute;
  top: 0;
  left: 5px;
}
.cards__heart,
.cards__star {
  position: absolute;
  top: 0;
  left: 10px;
}
.cards__bubble {
  position: absolute;
  top: 0;
  left: 5px;
}
.cards__caption {
  position: absolute;
  top: -2px;
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  color: #666d89;
}
.cards__description {
  position: absolute;
  top: 28px;
  width: 220px;
  height: 63px;
  margin: 0;
  overflow: hidden;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  font-family: Lato, sans-serif;
  text-align: justify;
  color: #666d89;
}
.cards__caption_design {
  left: 80px;
  letter-spacing: -0.004rem;
}
.cards__caption_ideas,
.cards__description_ideas {
  left: 84px;
  letter-spacing: 0.01rem;
}
.cards__caption_answer {
  left: 90px;
}
.cards__caption_responsive,
.cards__description_responsive {
  left: 80px;
}
.cards__caption_support {
  left: 83px;
  letter-spacing: -0.02rem;
}
.cards__caption_feel {
  left: 91px;
}
.cards__description_design {
  left: 81px;
}
.cards__description_answer,
.cards__description_feel {
  left: 90px;
}
.cards__description_support {
  left: 85px;
  letter-spacing: -0.02rem;
}
.portfolio {
  width: 100%;
  height: 864px;
  background-color: #2d303a;
  -webkit-box-shadow: 0 6px 0 0 rgba(50,55,70,1);
     -moz-box-shadow: 0 6px 0 0 rgba(50,55,70,1);
          box-shadow: 0 6px 0 0 rgba(50,55,70,1);
}
.portfolio__caption {
  margin: 63px 0 21px;
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  letter-spacing: 0.01rem;
}
.portfolio__text {
  height: 22px;
  margin-bottom: 12px;
  overflow: hidden;
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
  color: #767e9e;
  letter-spacing: -0.013rem;
}
.filter {
  display: flex;
  width: 310px;
  height: 22px;
}
.filter__item {
  margin-right: 10px;
  padding: 1px 6px;
  font-weight: normal;
  font-size: 12px;
  font-family: Lato, sans-serif;
  color: #767e9e;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  border: 1px solid #666d89;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.filter__item:first-child {
  letter-spacing: 0.04rem;
}
.filter__item-active {
  color: #dedede;
  border-color: #c5c5c5;
}
.portfolio__works {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 200px;
  margin-top: 19px;
  padding: 0;
  list-style-type: none;
}
.portfolio__item {
  width: 220px;
  height: 187px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all .3s;
}
.portfolio__item:nth-child(4n+4) {
  margin-right: 0;
}
.portfolio__item:nth-child(n+9):nth-child(-n+12) {
  margin-bottom: 0;
}
.portfolio__item:nth-child(n+13) {
  display: none;
}
.portfolio__link {
  display: block;
  width: 100%;
  height: 100%;
}
.portfolio__image {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.about-us {
  width: 100%;
  height: 728px;
  margin-top: 5px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 6px 0 0 rgba(255,255,255,1);
     -moz-box-shadow: 0 6px 0 0 rgba(255,255,255,1);
          box-shadow: 0 6px 0 0 rgba(255,255,255,1);
}
.about-us__caption {
  margin: 62px 0 19px 1px;
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  letter-spacing: -0.01rem;
}
.about-us__text {
  height: 58px;
  margin-bottom: 43px;
  overflow: hidden;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  text-align: justify;
  color: #767e9e;
  letter-spacing: -0.014rem;
}
.about-us__members {
  display: flex;
  width: 100%;
  height: 443px;
}
.members__item {
  width: 300px;
}
.members__item:nth-child(2) {
  margin-right: 19px;
}
.members__item:nth-child(3) {
  margin-right: 21px;
}
.members__caption {
  margin: 12px 0 0;
  overflow: hidden;
  font-weight: 900;
  font-size: 18px;
  color: #666d89;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.members__about {
  height: 40px;
  margin: 8px 0 23px;
  overflow: hidden;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: justify;
  color: #767e9e;
}
.members__caption-miles {
  letter-spacing: -0.01rem;
}
.members__about-adam {
  letter-spacing: -0.01rem;
}
.members__caption-scolora {
  letter-spacing: 0.007rem;
}
.socials {
  display: flex;
}
.socials__item {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  padding-left: 1px;
  border: 1px solid #767e9e;
  border-radius: 50%;
}
.socials__item:not(:last-child) {
  margin-right: 7px;
}
.socials__item svg {
  fill: #666d89;
}
.contact {
  width: 100%;
  height: 648px;
  margin-top: 6px;
  background-color: #f06c64;
  -webkit-box-shadow: 0 6px 0 0 rgba(234,103,107,1);
     -moz-box-shadow: 0 6px 0 0 rgba(234,103,107,1);
          box-shadow: 0 6px 0 0 rgba(234,103,107,1);
}
.contact__caption {
  margin: 62px 0 18px;
  font-weight: 900;
  font-size: 30px;
  color: #f0d8d9;
  letter-spacing: -0.015rem;
}
.contact__text {
  height: 58px;
  overflow: hidden;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  text-align: justify;
  color: #f0d8d9;
  letter-spacing: -0.013rem;
  word-spacing: -0.01rem;
}
.contact__form-info {
  display: flex;
  width: 100%;
  height: 418px;
  margin-top: 43px;
}
.contact__form {
  width: 619px;
  height: 418px;
  margin-right: 21px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.form__input {
  box-sizing: border-box;
  height: 38px;
  margin-bottom: 16px;
  padding-left: 15px;
  font-weight: normal;
  font-size: 12px;
  font-family: Lato, sans-serif;
  color: #ffffff;
  background-color: #d6564f;
  border: none;
  border-radius: 6px;
  outline: none;
}
.form__input-textarea {
  height: 202px;
  padding-top: 11px;
  resize: none;
}
.form__input:required:invalid:focus {
  border: 1px solid #ff0000;
}
.form__input:required:valid:focus {
  border: 1px solid #00ff00;
}
.form__input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #d6564f;
          box-shadow: inset 0 0 0 50px #d6564f;
  -webkit-text-fill-color: #fff !important;
  color: #fff;
}
.form__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #767e9e !important;
}
.form__input::-webkit-input-placeholder {
  color: #f48c8f;
}
.form__input::-moz-placeholder {
  color: #f48c8f;
}
.form__input::-ms-input-placeholder {
  color: #f48c8f;
}
.form__input::placeholder {
  color: #f48c8f;
}
.form__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.form__input:focus::-moz-placeholder {
  color: transparent;
}
.form__input:focus::-ms-input-placeholder {
  color: transparent;
}
.form__input:focus::placeholder {
  color: transparent;
}
.form__input:focus {
  -webkit-box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
     -moz-box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
          box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
}
.form__input:focus {
  color: #767e9e;
  background-color: #f0d8d9;
  transition: 0.2s;
}
.form__submit {
  width: 30%;
  height: 38px;
  font-weight: bold;
  font-size: 14px;
  font-family: Lato, sans-serif;
  color: #f0d8d9;
  text-transform: uppercase;
  background-color: #d6564f;
  border: none;
  border-radius: 6px;
  outline: none;
}
.contact__info {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
}
.info__caption {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  color: #f0d8d9;
  letter-spacing: 0.003rem;
}
.info__item {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  color: #f0d8d9;
}
.info__describe {
  height: 86px;
  margin-top: 6px;
  overflow: hidden;
  line-height: 22px;
  text-align: justify;
  letter-spacing: -0.01rem;
}
.info__location {
  margin: 27px 3px 0;
  letter-spacing: -0.01rem;
}
.info__tel {
  margin: 7px 1px;
  letter-spacing: -0.01rem;
}
.info__mail {
  margin: 1px 0;
}
.info__location::before {
  content: url(./assets/images/location.svg);
  margin-right: 13px;
}
.info__tel::before {
  content: url(./assets/images/phone.svg);
  margin-right: 11px;
}
.info__mail::before {
  content: url(./assets/images/mail.svg);
  margin-right: 10px;
}
.footer {
  width: 100%;
  height: 76px;
  margin-top: 6px;
  background-color: #2d303a;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  font-weight: normal;
  font-size: 12px;
  color: #666d89;
  letter-spacing: -0.01rem;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  animation: .3s modalOpen;
}
.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 1rem 1.5rem;
  width: 30rem;
  min-height: 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.modal__wrapper > * {
  margin: 0;
  padding: 0;
}
.modal__subject,
.modal__decription {
  padding-left: 1rem;
  padding-bottom: .5rem;
  overflow: hidden;
  word-wrap: break-word;
}
.modal__caption {
  text-align: center;
  max-width: 30rem;
  padding-bottom: 1rem;
}
.modal__subject {
  max-width: 30rem;
}
.modal__decription {
  max-width: 30rem;
  min-height: 1.5rem;
  text-align: justify;
}
.modal__confirm {
  width: 30%;
  height: 2rem;
  margin: 0 calc(40% - 1.5rem);
  font-weight: bold;
  font-size: 0.875rem;
  font-family: Lato, sans-serif;
  color: #f0d8d9;
  text-transform: uppercase;
  background-color: #d6564f;
  border: none;
  border-radius: 0.375rem;
  outline: none;
}
.modal__confirm:hover {
  cursor: pointer;
  background-color: #b14a44;
}
.attention{
  text-align: center;
  font-size: 0.75rem;
  color: #f00;
  padding-bottom: 0.3rem;
}
.attention-msg {
  padding-bottom: 0.5rem;
}
@keyframes modalOpen {
0% {transform: scale(1.3);}
100% {transform: scale(1);}
}
@keyframes modalClose {
0% {transform: translate(-50%, -50%) scale(1);}
50% {transform: translate(-50%, -50%) scale(1.1);}
100% {transform: translate(-50%, -50%) scale(0);}
}
@media (hover: hover) {
  .menu__link:hover {
    color: #f06c64;
    transition: all .3s;
  }
  .slider__button:hover {
    opacity: 1;
  }
  .item-vertical__touchButton:hover,
  .item-horizontal__touchButton:hover {
    cursor: pointer;
  }
  .info__item:not(.info__describe):hover {
    color: #b14a44;
  }
  .socials__item:hover {
    background-color: #d5d3d3;
    -webkit-box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
       -moz-box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
            box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
    transition: 0.2s;
  }
  .socials__item:hover svg {
    fill: #4c526d;
  }
  .filter__item:hover {
    color: #dedede;
    border-color: #c5c5c5;
  }
  .portfolio__image:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  .form__input:hover,
  .form__submit:hover {
    background-color: #b14a44;
  }
  .form__input:hover,
  .form__submit:hover {
    -webkit-box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
       -moz-box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
            box-shadow: 0 0 6px -1px rgba(20,6,20,0.3);
  }
  .form__submit:hover {
    cursor: pointer;
  }
}

@media (max-width: 1019px) {
  .body {
    min-width: 768px;
  }
  .wrapper {
    width: 688px;
  }
  .menu {
    margin-top: 12px;
  }
  .slider {
    height: 446px;
  }
  .slide__iphone-vertical,
  .slide__item-vertical {
    width: 181px;
    height: 364px;
    top: 40px;
    left: 0;
  }
  .slide__iphone-horizontal,
  .slide__item-horizontal {
    width: 365px;
    height: 181px;
    top: 132px;
    left: 235px;
  }
  .slider__button {
    top: 212px;
  }
  .slider__button-prev {
    left: 30px;
  }
  .slider__button-next {
    right: 27px;
  }
  .slide,
  .slide__item {
    width: 600px;
  }
  .slide__item {
    flex-basis: 600px;
  }
  .item-vertical__screenBlocker {
    width: 144px;
    height: 252px;
    top: 49px;
    left: 10px;
  }
  .item-vertical__touchButton {
    bottom: 26px;
    left: 66px;
    width: 30px;
    height: 30px;
  }
  .item-horizontal__screenBlocker {
    width: 252px;
    height: 144px;
    top: 10px;
    left: 45px;
  }
  .item-horizontal__touchButton {
    top: 66px;
    left: 7px;
    width: 30px;
    height: 30px;
  }
  .services {
    height: 669px;
  }
  .services__caption {
    margin-top: 41px;
  }
  .services__text {
    height: 99px;
  }
  .cards {
    margin-top: 25px;
    justify-content: flex-start;
  }
  .cards__item {
    width: 300px;
    height: 104px;
  }
  .cards__item:nth-child(-n+4) {
    margin-bottom: 40px;
  }
  .cards__item:nth-child(even) {
    margin-right: 53px;
  }
  .cards__lamp,
  .cards__heart,
  .cards__star,
  .cards__bubble {
    left: 1px;
  }
  .cards__caption_ideas,
  .cards__description_ideas {
    left: 82px;
  }
  .cards__description_answer,
  .cards__caption_answer,
  .cards__description_feel,
  .cards__caption_feel {
    left: 81px;
  }
  .portfolio {
    height: 1096px;
  }
  .portfolio__caption {
    margin: 66px 0 21px;
  }
  .portfolio__text {
    margin-bottom: 44px;
  }
  .portfolio__works {
    margin-top: 28px;
  }
  .portfolio__item {
    width: 216px;
    height: 184px;
  }
  .portfolio__item:nth-child(4n+4) {
    margin-right: 20px;
  }
  .portfolio__item:nth-child(3n+3) {
    margin-right: 0;
  }
  .about-us {
    height: 663px;
  }
  .about-us__caption {
    margin-top: 60px;
  }
  .about-us__text {
    height: 100px;
    margin-bottom: 24px;
  }
  .about-us__members {
    height: 360px;
  }
  .members__item,
  .members__image {
    width: 219px;
  }
  .members__item:not(:last-child) {
    margin-right: 15px;
  }
  .contact {
    height: 625px;
  }
  .contact__text {
    height: 96px;
    margin-bottom: 0;
  }
  .contact__form-info {
    margin-top: 19px;
    height: 309px;
  }
  .contact__form {
    width: 442px;
    height: 309px;
  }
  .form__input {
    margin-bottom: 12px;
    padding-left: 9px;
  }
  .form__input-textarea {
    height: 159px;
    padding-top: 9px;
  }
}
@media (max-width: 767px) {
  .body {
    min-width: 375px;
    padding-top: 71px;
  }
  .header {
    height: 68px;
    -webkit-box-shadow: 0 3px 0 0 rgba(50,55,70,1);
       -moz-box-shadow: 0 3px 0 0 rgba(50,55,70,1);
            box-shadow: 0 3px 0 0 rgba(50,55,70,1);
  }
  .wrapper {
    width: 315px;
    padding: 0 30px;
    margin: 0 auto;
  }
  .burger__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  .logo {
    width: 92px;
    margin: 0 auto;
  }
  .logo__name {
    margin-top: 23px;
    font-size: 20px;
    padding-left: 15px;
  }
  .slider {
    height: 218px;
    -webkit-box-shadow: 0 3px 0 0 rgba(234,103,107,1);
       -moz-box-shadow: 0 3px 0 0 rgba(234,103,107,1);
            box-shadow: 0 3px 0 0 rgba(234,103,107,1);
  }
  .slide__iphone-vertical,
  .slide__item-vertical {
    width: 88px;
    height: 178px;
    top: 19px;
    left: 0;
  }
  .slide__iphone-horizontal,
  .slide__item-horizontal {
    width: 178px;
    height: 88px;
    top: 65px;
    left: 114px;
  }
  .slider__button {
    width: 14px;
    height: 25px;
    top: 97px; 
  }
  .slider__button-prev {
    left: 9px;
  }
  .slider__button-next {
    right: 9px;
  }
  .slide,
  .slide__item {
    width: 293px;
  }
  .slide__item {
    flex-basis: 293px;
  }
  .item-vertical__screenBlocker {
    width: 69px;
    height: 123px;
    top: 24px;
    left: 5px;
  }
  .item-vertical__touchButton {
    bottom: 15px;
    left: 35px;
    width: 12px;
    height: 12px;
  }
  .item-horizontal__screenBlocker {
    width: 123px;
    height: 69px;
    top: 5px;
    left: 21px;
  }
  .item-horizontal__touchButton {
    top: 32px;
    left: 5px;
    width: 12px;
    height: 12px;
  }
  .services {
    height: 1032px;
    margin-top: 3px;
    -webkit-box-shadow: inset 0 -3px 0 0 rgba(255,255,255,1);
       -moz-box-shadow: inset 0 -3px 0 0 rgba(255,255,255,1);
            box-shadow: inset 0 -3px 0 0 rgba(255,255,255,1);
  }
  .services__caption {
    margin: 29px 0 17px;
  }
  .services__text {
    height: 214px;
  }
  .cards__item,
  .cards__item:nth-child(-n+4) {
    margin-bottom: 15px;
  }
  .cards__item:nth-child(even) {
    margin-right: 0;
  }
  .portfolio {
    height: 844px;
  }
  .portfolio__caption {
    margin: 45px 0 21px;
  }
  .portfolio__text {
    margin-bottom: 3px;
    height: 96px;
  }
  .portfolio__works {
    margin-top: 26px;
  }
  .portfolio__item {
    width: 151px;
    height: 128px;
    margin-right: 0;
    margin-bottom: 14px;
  }
  .portfolio__item:nth-child(odd) {
    margin-right: 13px;
  }
  .portfolio__item:nth-child(4n+4) {
    margin-right: 0;
  }
  .portfolio__item:nth-child(n+9) {
    display: none;
  }
  .about-us {
    height: 1751px;
    margin-top: 3px;
    -webkit-box-shadow: 0 3px 0 0 rgba(255,255,255,1);
       -moz-box-shadow: 0 3px 0 0 rgba(255,255,255,1);
            box-shadow: 0 3px 0 0 rgba(255,255,255,1);
  }
  .about-us__caption {
    margin: 33px 0 19px 1px;
  }
  .about-us__text {
    height: 220px;
    margin-bottom: 10px;
  }
  .about-us__members {
    height: 1388px;
    flex-direction: column;
  }
  .members__item {
    width: 100%;
    height: 440px;
    margin-bottom: 31px;
  }
  .members__image {
    width: 100%;
  }
  .members__about {
    margin: 8px 0 9px;
  }
  .contact {
    height: 902px;
    margin-top: 3px;
    -webkit-box-shadow: 0 3px 0 0 rgba(234,103,107,1);
       -moz-box-shadow: 0 3px 0 0 rgba(234,103,107,1);
            box-shadow: 0 3px 0 0 rgba(234,103,107,1);
  }
  .contact__caption {
    margin: 44px 0 18px;
  }
  .contact__text {
    height: 165px;
  }
  .contact__form-info {
    height: 519px;
    flex-direction: column;
    margin-top: 19px;
  }
  .contact__form {
    width: 100%;
    height: 391px;
    margin-right: 0;
  }
  .form__submit {
    height: 50px;
    width: 100%;
    margin-bottom: 32px;
  }
  .contact__info {
    width: 100%;
    height: 191px;
  }
  .info__describe {
    height: 114px;
  }
  .info__location {
    margin: 5px 3px 0;
  }
  .footer {
    margin-top: 3px;
  }
  .footer__content{
    justify-content: center;
  }
  .copyright {
    display: none;
  }
}