@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lato-Regular.woff') format('woff'),
        url('Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Black.eot');
    src: local('Lato Black'), local('Lato-Black'),
        url('Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('Lato-Black.woff') format('woff'),
        url('Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lato-Bold.woff') format('woff'),
        url('Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.eot');
    src: local('Lato Light'), local('Lato-Light'),
        url('Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('Lato-Light.woff') format('woff'),
        url('Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
